@model Lekkerbek12Gip.Models.Klant

@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4>Klant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetrouwheidsScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetrouwheidsScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geboortedatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geboortedatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailadres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailadres)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KlantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
