@section Scripts
{
    <script type="text/javascript"
            src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="./js/KlantenIndexJs.js"></script>
    @*<script>
            $(function () {
                //$('#custtable').DataTable({
                //    "ajax": {
                //        "url": "/klants/LoadAllCustomers",
                //        "type": "GET",
                //        "datatype": "json"
                //    },
                //    "columns": [
                //        { "data": "klantId", "name": "klantId" },
                //        { "data": "name", "name": "name" },
                //        { "data": "adress", "name": "adress" },
                //        { "data": "getrouwheidsScore", "name": "getrouwheidsScore" },
                //        { "data": "geboortedatum", "name": "geboortedatum" },
                //        { "data": "emailadres", "name": "emailadres" },
                //        { "data": "bestellings", "name": "bestellings" },
                //        { "data": null, "defaultContent": "<a href='' class='del'>Delete</a>" }
                //    ]
                //});
                $('#custtable').DataTable({
                    "ajax": {
                        "url": "/klants/LoadAllCustomersSS",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "klantId", "name": "klantId" },
                        { "data": "name", "name": "name" },
                        { "data": "adress", "name": "adress" },
                        { "data": "getrouwheidsScore", "name": "getrouwheidsScore" },
                        { "data": "geboortedatum", "name": "geboortedatum" },
                        { "data": "emailadres", "name": "emailadres" },
                        { "data": "bestellings", "name": "bestellings" },
                        { "data": null, "defaultContent": "<a href='KlantId' class='del'>Delete</a>" }
                    ],
                    "columnDefs": [{
                        targets: 4, render: function (data) {
                            var format = "DD/ MM /YYYY";
                            var date = moment(data);
                            return date.format(format);
                        }
                    }],
                    "serverSide": true,
                    "order": [0, "asc"],
                    "proccessing": true
                });
            });


            $('#custtable tbody').on('click', 'tr', function (e) {
                e.preventDefault();
                var id = $("td:first", this).text();

                var url = `Klants/Delete/${id}`
                var url2 = `Klants/Edit/${id}`

                if ($(e.target).is("a.del")) {

                    $.get(url, { id: id }, function (data) {
                        $("body").html(data);
                    });
                    return;
                }
                $.get(url2, { id: id }, function (data) {
                    $("body").html(data);
                });
            });

        </script>*@
}

@model IEnumerable<Lekkerbek12Gip.Models.Klant>

@{
    ViewData["Title"] = "Index";

}

<h1>Klanten</h1>

<p>
    <a asp-action="Create">Klant aanmaken</a>
</p>
<table id="custtable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KlantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetrouwheidsScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortedatum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailadres)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.KlantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetrouwheidsScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Geboortedatum)
                </td>
                <td>
                    <a href="https://www.google.com/intl/tr/gmail/about/">@Html.DisplayFor(modelItem => item.emailadres)</a>

                </td>
                <td>
                </td>

            </tr>
        }
    </tbody>
</table>

<style>
    #custtable tbody tr {
        cursor: pointer;
    }
</style>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.
20/css/jquery.dataTables.css">
