@model IEnumerable<Lekkerbek12Gip.Models.BestellingGerecht>


@{
    ViewData["Title"] = "Index";

}
<img id="logo" src="~/img/Lekkerbek.jpeg" />
<h1>Menu</h1>
<span>Ordernummer : </span><p style="display:inline" id="bestellingId">@ViewBag.data</p>

@foreach (Gerecht.Categorieen categorie in Enum.GetValues(typeof(Gerecht.Categorieen)))
{
    <h2>@categorie</h2>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Gerecht.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gerecht.Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gerecht.Prijs)
                </th>

                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            if (item.Gerecht.Categorie == categorie)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gerecht.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gerecht.Omschrijving)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gerecht.Prijs) $
                        </td>

                        <td>
                            <button id="plus" class="btn btn-success">+</button> |
                            <button class="btn btn-danger">-</button>
                            <input id=@item.GerechtId class="input" style="width:25px" value="0" readonly />
                        </td>
                    </tr>
                </tbody>
            }

        }
    </table>
}


@section Scripts{
    <script src="~/js/bestellingGerecht.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
