@model IEnumerable<Lekkerbek12Gip.Models.Gerecht>

@{
    ViewData["Title"] = "Index";
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
}

<h1>Menu</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Kassamedewerker"))
{
    <p>
        <a asp-action="Create">Nieuw gerecht aanmaken</a>
    </p>
}
@foreach (Gerecht.Categorieen categorie in Enum.GetValues(typeof(Gerecht.Categorieen)))
{
    <h3>@categorie</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Categorie == categorie)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Omschrijving)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prijs)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin") || User.IsInRole("Kassamedewerker"))
                            {

                                <a asp-action="Edit" asp-route-id="@item.GerechtId">Bewerken</a> @Html.Raw(" | ")
                                <a asp-action="Details" asp-route-id="@item.GerechtId"> Details </a>@Html.Raw(" | ")
                                <a asp-action="Delete" asp-route-id="@item.GerechtId"> Verwijderen </a>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

