@model IEnumerable<Lekkerbek12Gip.Models.Gerecht>

@{
    ViewData["Title"] = "Index";
}

<h1>Menu</h1>

<p>
    <a asp-action="Create">Nieuw gerecht aanmaken</a>
</p>

@foreach (Gerecht.Categorieen categorie in Enum.GetValues(typeof(Gerecht.Categorieen)))
{
    <h3>@categorie</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Categorie == categorie)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Omschrijving)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prijs)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.GerechtId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.GerechtId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.GerechtId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

