@model Lekkerbek12Gip.ViewModel.Chefs.ChefIndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (Bestelling.BestelStatus status in Enum.GetValues(typeof(Bestelling.BestelStatus)))
{
    <h2>@status</h2>
    <table class="table">

        <thead>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BestellingsReadyList[0].Gerechten)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BestellingsReadyList[0].SpecialeWensen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BestellingsReadyList[0].AfhaalTijd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BestellingsReadyList[0].Chef.ChefName)
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var bestelling in Model.ReturnStatusList(status))
        {

            <tbody>
                <tr>
                    <td>
                        @foreach (var waarde in bestelling.Gerechten)
                        {
                            <div>
                                @waarde.Naam
                            </div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.SpecialeWensen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.AfhaalTijd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.Chef.ChefName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.BestelingStatus)
                    </td>
                    <td>
                        <a class="btn btn-success" asp-controller="Bestellings" asp-action="Leveren" asp-route-id="@bestelling.BestellingId">Leveren</a>
                        <a class="btn btn-success " asp-action="addChef" asp-route-id="@bestelling.BestellingId">Chef toevoegen</a>
                    </td>
                </tr>
            </tbody>

        }
        @*<tbody>
                @foreach (var bestelling in Model.BestellingsNotReadyList)
                {

                }
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BestellingsNotReadyList[0].Gerechten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BestellingsReadyList[0].SpecialeWensen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BestellingsDoneList[0].AfhaalTijd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BestellingsDoneList[0].Chef.ChefName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var bestelling in Model.BestellingsReadyList)
            {
                <tr>
                    <td>
                        @foreach (var waarde in bestelling.Gerechten)
                        {
                            <div>
                                @waarde.Naam
                            </div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.SpecialeWensen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.AfhaalTijd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.Chef.ChefName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.BestelingStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BestellingsNotReadyList[0].Gerechten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BestellingsReadyList[0].SpecialeWensen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BestellingsDoneList[0].AfhaalTijd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BestellingsDoneList[0].Chef.ChefName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var bestelling in Model.BestellingsDoneList)
            {
                <tr>
                    <td>
                        @foreach (var waarde in bestelling.Gerechten)
                        {
                            <div>
                                @waarde.Naam
                            </div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.SpecialeWensen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.AfhaalTijd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.Chef.ChefName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => bestelling.BestelingStatus)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }*@

    </table>
}