@model IEnumerable<Lekkerbek12Gip.Models.Bestelling>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.BestelingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gerechten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialeWensen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chef.ChefName)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BestelingStatus)
                </td>

                <td>
                    @foreach (var waarde in item.Gerechten)
                    {
                        <div>
                            @waarde.Naam
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialeWensen)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chef.ChefName)
                </td>
                <td>
                    @if (item.BestelingStatus == Bestelling.BestelStatus.Done && item.Chef != null)
                    {
                        <a class="btn btn-success disabled" asp-action="Leveren" asp-route-id="@item.BestellingId">Geleverd</a>

                    }
                    else if (item.Chef == null)
                    {
                        <a class="btn btn-success disabled" asp-action="Leveren" asp-route-id="@item.BestellingId">Leveren</a>

                    }
                    else
                    {
                        <a class="btn btn-success" asp-action="Leveren" asp-route-id="@item.BestellingId">Leveren</a>

                    }
                    @{
                        var bestel = Model.OrderBy(m => m.OrderDate).FirstOrDefault(x => x.BestelingStatus == Bestelling.BestelStatus.NotReady);
                        if (bestel == null)
                        {
                            bestel = item;
                        }
                    }

                    @if (item.OrderDate == bestel.OrderDate && item.Chef == null)
                    {
                        <a class="btn btn-success " asp-action="addChef" asp-route-id="@item.BestellingId">Add Chef</a>

                    }
                    else if (item.Chef != null)
                    {
                        <a class="btn btn-success disabled" asp-action="addChef" asp-route-id="@item.BestellingId">Chef Added</a>

                    }
                    else
                    {
                        <a class="btn btn-success disabled" asp-action="addChef" asp-route-id="@item.BestellingId">Add Chef </a>
                    }

                </td>

            </tr>
        }
    </tbody>
</table>
