@model Lekkerbek12Gip.Models.Bestelling
@{ Layout = "_PrintLayout"; }

<section id="factuurklant">
    <address>        
        @Model.Klant.Name
        <br />
        @Model.Klant.Adress
        <br />
        @Model.Klant.emailadres
    </address>
</section>

<section id="factuurinfo">
    <dl>
        <dt>
            Factuurdatum:
        </dt>
        <dd>
            @DateTime.Now.ToShortDateString()
        </dd>
        <dt>
            Factuurnummer:
        </dt>
        <dd>
            @Model.BestellingId
        </dd>
    </dl>
</section>
<section id="factuurdetail">
    <table class="table">
        <thead>
            <tr>
                <th>Gerecht</th>
                <th>Prijs</th>
                <th>Aantal</th>
                <th>Subtotaal</th>
            </tr>
        </thead>
                
        <tbody>
            @{decimal intPrijs = 0; }
            @{ foreach (var besteldGerecht in Model.BestellingGerechten)
                {
                    intPrijs += besteldGerecht.Aantal * besteldGerecht.Gerecht.Prijs;

<tr>
    <td>@besteldGerecht.Gerecht.Naam</td>
    <td>€ @besteldGerecht.Gerecht.Prijs</td>
    <td>@besteldGerecht.Aantal.ToString()</td>
    <td>@(besteldGerecht.Aantal * besteldGerecht.Gerecht.Prijs)</td>
</tr>} }
        </tbody>
    </table>
</section>
<div class="row">
    <section class="col-6" id="factuurkorting">
        <dl>
            <dt>
                Korting:
            </dt>
            <dd>

                <div>€ @(Model.Korting * intPrijs/100)</div>

            </dd>
        </dl>
    </section>
    <section class="col-6" id="factuurtotaal">
        <dl>
            <dt>
                Totaal:
            </dt>
            <dd>
                € @ViewBag.Prijs
            </dd>
        </dl>
    </section>
</div>

