@model IEnumerable<Lekkerbek12Gip.Models.Gerecht>

@{
    ViewData["Title"] = "Gerechten";
    IEnumerable<BestellingGerechten> bestellingGerechten = ViewData["Aantal"] as IEnumerable<BestellingGerechten>;
}
<img id="logo" src="~/img/Lekkerbek.jpeg" />
<h1>Geïnteresseerde Menu</h1>
<span>Ordernummer : </span><p style="display:inline" id="bestellingId">@ViewBag.data</p>

@foreach (Gerecht.Categorieen categorie in Enum.GetValues(typeof(Gerecht.Categorieen)))
{
    <h2>@categorie</h2>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Omschrijving)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prijs)
                </th>

                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            if (item.Categorie == categorie)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Omschrijving)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prijs) $
                        </td>
                        <td>
                            <form asp-action="Gerechten">
                                @{
                                    int aantal = 0;
                                    try
                                    {
                                        aantal = bestellingGerechten.First(bg => (bg.GerechtId == item.GerechtId) && (bg.BestellingId == ViewBag.data)).Aantal;
                                    }
                                    catch (InvalidOperationException e)
                                    {
                                        aantal = 0;
                                    }
                                }
                                <input type="number" name="aantal" value="@aantal" />
                                <input type="hidden" name="gerechtId" value="@item.GerechtId" />
                                <input type="hidden" name="bestellingId" value="@ViewBag.data" />
                                <button type="submit" value="Gerechten">+</button>
                                aantal: @aantal
                            </form>

                        </td>
                    </tr>
                </tbody>
            }
        }
    </table>
}

<a asp-action="index">Terug naar bestellingslijst</a>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
