@model IEnumerable<Lekkerbek12Gip.Models.Bestelling>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Bestelling aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AfhaalTijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialeWensen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Klant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chef)
            </th>
            <th>
                <a>Totale prijs</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AfhaalTijd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialeWensen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Korting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Klant.KlantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChefId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrijs)
                </td>
                <td>
                    <!--Comparing time now with afhaaltijd minus 1 hour, if now is earlier than afhaaltijd - 1 hour : editable else not editable-->
                    @if (DateTime.Compare(DateTime.Now, item.AfhaalTijd.AddHours(-1)) < 0)
                    {
                        <a asp-action="Edit" asp-route-id="@item.BestellingId">Edit</a>
                    }
                    else
                    {
                        <a>Edit</a>
                    }
                    |   <a asp-action="Details" asp-route-id="@item.BestellingId">Details</a> |
                    <!--Comparing time now with afhaaltijd minus 2 hours, if now is earlier than afhaaltijd - 2 hours : delete  else not editable-->
                    @if (DateTime.Compare(DateTime.Now, item.AfhaalTijd.AddHours(-2)) < 0)
                    {
                        <a asp-action="Delete" asp-route-id="@item.BestellingId">Delete</a>
                    }
                    else
                    {
                        <a>Delete</a>
                    }

                    |

                    @if (item.Afgerekend == true)
                    {
                        <a>Afgerekend</a>
                    }
                    else
                    {
                        <a asp-action="Afrekenen" asp-route-id="@item.BestellingId">Afrekenen</a>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
