@model IEnumerable<Lekkerbek12Gip.Models.Bestelling>

@{
    ViewData["Title"] = "Index";
}

<h1>Open Bestellingen</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Klant"))
    {
        <a asp-action="Create">Bestelling aanmaken</a> @Html.Raw(" | ")
        <a asp-action="AfgerekendeBestellingen"> Afgerekende Bestellingen </a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BestelingStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AfhaalTijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialeWensen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Korting)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Kassamedewerker"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Klant)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Chef)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.TotalPrijs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (!item.Afgerekend)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BestelingStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AfhaalTijd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SpecialeWensen)
                    </td>
                    <td>
                        @if (item.Korting != 0)
                        {
                            <div>%@item.Korting </div>
                        }
                    </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Kassamedewerker"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Klant.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Chef.ChefName)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrijs)
                    </td>
                    <td>
                        <!--Comparing time now with afhaaltijd minus 1 hour, if now is earlier than afhaaltijd - 1 hour : editable else not editable-->

                        @if (DateTime.Compare(DateTime.Now, item.AfhaalTijd.AddHours(-1)) < 0 && item.Afgerekend == false)
                        {
                            @if (User.IsInRole("Admin") || User.IsInRole("Klant"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.BestellingId">Bewerken</a> @Html.Raw(" | ")
                            }
                        }
                        else
                        {
                            <a>Bewerken</a>
                        }
                        <a asp-action="Details" asp-route-id="@item.BestellingId">Details</a>
                        <!--Comparing time now with afhaaltijd minus 2 hours, if now is earlier than afhaaltijd - 2 hours : delete  else not editable-->
                        @if (User.IsInRole("Admin") || User.IsInRole("Klant"))
                        {


                            @if (DateTime.Compare(DateTime.Now, item.AfhaalTijd.AddHours(-2)) < 0 && item.Afgerekend == false)
                            {
                                @Html.Raw(" | ") <a asp-action="Delete" asp-route-id="@item.BestellingId">Annuleren</a>
                            }
                            else
                            {
                                if (item.IsConfirmed == false)
                                {
                                    @Html.Raw(" | ") <a asp-action="Delete" asp-route-id="@item.BestellingId">Annuleren</a>
                                }
                                else
                                {
                                    @Html.Raw(" | ") <a>Annuleren</a>
                                }
                            }
                        }

                        @if (User.IsInRole("Kassamedewerker") || User.IsInRole("Admin"))
                        {
                            @if (item.Afgerekend == true)
                            {
                                @Html.Raw(" | ") <a asp-action="Factuur" asp-route-id="@item.BestellingId">Factuur</a>
                            }
                            else
                            {
                                @Html.Raw(" | ") <a asp-action="Afrekenen" asp-route-id="@item.BestellingId">Afrekenen</a>
                            }
                        }

                        @if (item.Afgerekend != true)
                        {
                            if (User.IsInRole("Admin") || User.IsInRole("Klant"))
                            {
                                @Html.Raw(" | ") <a asp-action="Gerechten" asp-controller="BesteldeGerechten" asp-route-id="@item.BestellingId">Gerechten Toevoegen </a>
                            }
                        }
                        @if (User.IsInRole("Kassamedewerker") || User.IsInRole("Admin"))
                        {
                            @Html.Raw(" | ") <a asp-action="KassaEmail" asp-route-id="@item.BestellingId">Send Email</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
