@model Lekkerbek12Gip.Models.PlanningsModule

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PlanningsModule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningsUren.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningsUren.DayOfWeek)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningsUren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningsUren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SluitenUren)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SluitenUren)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.chefs)
        </dt>
        <dd class="col-sm-10">
            @foreach (var chef in Model.chefs)
            {
            <div>@Html.DisplayFor(model => chef.ChefName)</div>
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlanningsModuleId">Aanpapssen</a> |
    <a asp-action="Index">Terug naar planning</a>
</div>
