@model IEnumerable<Lekkerbek12Gip.Models.PlanningsModule>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js" integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.css">
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<link href="~/css/Calendar.css" rel="stylesheet" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Planning aanmaken</a>
</p>

<a class="btn btn-success" asp-action="CreateEvent">Event Toevoegen</a>

<div class="body-container">
    <div id='calendar'></div>
    <div id="index">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayName("Datum")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OpeningsUren)
                    </th>
                    <th>
                        @Html.DisplayName("Werknemer")
                    </th>
                    <th>
                        @Html.DisplayName("Ziek werknemer")
                    </th>


                    <th></th>
                </tr>
            </thead>
        </table>

        @foreach (var item in Model)
        {

<div  id=@item.OpeningsUren.ToString("yyyy-MM-dd") style="display:none">
    <div class="info">
        <div>
            @Html.DisplayName(item.OpeningsUren.DayOfWeek.ToString())
            <br />
            @Html.DisplayName(item.OpeningsUren.ToShortDateString())
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.OpeningsUren.TimeOfDay)
        </div>
         
        @foreach (var ob in item.Events)
        {
                <div>@ob.Title</div>}
            <div>
        @if (item.ChefPlanningsModules.Where(x => x.ChefStatu == ChefPlanningsModule.ChefStatus.Werken).Count() != 0)
        {
    @foreach (var ob in item.ChefPlanningsModules)
    {
        if (ob.ChefStatu == ChefPlanningsModule.ChefStatus.Werken)
        {
    <div>@ob.Chef.ChefName</div>}

}}
else
{
    <div>Niemand werkt niet</div>
          }

    </div>
        <div>
            @if (item.ChefPlanningsModules.Where(x=>x.ChefStatu==ChefPlanningsModule.ChefStatus.Ziek).Count() != 0) { 
            @foreach (var ob in item.ChefPlanningsModules)
            {
                if (ob.ChefStatu == ChefPlanningsModule.ChefStatus.Ziek)
                {
        <div>@ob.Chef.ChefName</div>}

                 }}
            else 
            { 
                <div>Niemand is ziek</div>
            }
        </div>

        </div>
        <div class="card justify-content-center col-12" style="width: 18rem;">
            <div class="card-body">
                <h6 class="card-title">@item.OpeningsUren.ToString("yyyy-MM-dd")</h6>
                <p class="card-text">@Html.DisplayFor(modelitem => item.Description)</p>
                <a asp-controller="Bestellings" class="card-link">Ga naar bestellings</a>                
            </div>
        </div>
        <p id="Message"></p>
        <div class="EventButtons">
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PlanningsModuleId">Edit</a> |
            <a class="btn bg-warning" asp-action="Details" asp-route-id="@item.PlanningsModuleId">Details</a> |
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PlanningsModuleId">Delete</a>
        </div>

    </div>      }
        <section id="Create">
            <h2> No plan added yet for today </h2>
            <a asp-action="Create">Nieuw plan aanmaken</a>
        </section>



    </div>

</div>

@section Scripts {
    <script src="~/js/Calendar.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

