@model IEnumerable<Lekkerbek12Gip.Models.PlanningsModule>

@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js" integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.css">
<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
<link href="~/css/Calendar.css" rel="stylesheet" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Plan</a>
</p>

<a class="btn btn-success" asp-action="CreateEvent">Event Add</a>

<div class="body-container">
    <div id='calendar'></div>
    <div id="index">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayName("Datum")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OpeningsUren)
                    </th>
                    <th>
                        @Html.DisplayName("Werknemer")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Events)
                    </th>


                    <th></th>
                </tr>
            </thead>
        </table>

        @foreach (var item in Model)
        {

<div id=@item.OpeningsUren.ToString("yyyy-MM-dd") style="display:none">
    <div class="info">
        <div>
            @Html.DisplayName(item.OpeningsUren.DayOfWeek.ToString())
            <br />
            @Html.DisplayName(item.OpeningsUren.ToShortDateString())
        </div>
        <div>
            @Html.DisplayFor(modelItem => item.OpeningsUren.TimeOfDay)
        </div>
        <div>          
        </div>
        <div>
            @foreach (var ob in item.chefs)
            {<div>@ob.ChefName</div>}
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Description head</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">@Html.DisplayFor(modelitem => item.Description)</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <p id="Message"></p>
    <div class="EventButtons">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.PlanningsModuleId">Edit</a> |
        <a class="btn bg-warning" asp-action="Details" asp-route-id="@item.PlanningsModuleId">Details</a> |
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PlanningsModuleId">Delete</a>
    </div>

</div>      }
        <section id="Create">
            <h2> Plan eklenmedi henuz </h2>
            <a asp-action="Create">Create New Plan</a>
        </section>



    </div>

</div>

@section Scripts {
    <script src="~/js/Calendar.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

